/* .screen_wrapper.register {
  height: 800px;
}

.register .form_box .user_box input {
  font-size: 16px;
  margin-bottom: 40px;
}

.register .form_box form .submit-btn {
  margin: 10px 0 5px;
}

.register .form_box .user_box label {
  font-size: 20px;
}

.register form .switch {
  margin: 0em;
  margin-bottom: 1em;
}

@media screen and (max-width: 1000px) {
  .screen_wrapper.register {
    grid-template-columns: repeat(1, 1fr);
    width: 500px;
    height: 900px;
  }

  .register .col_1 {
    height: 120px;
  }

  .register form {
    margin: 3em auto;
  }

  .register h1 {
    font-size: 33px;
  }

  .register .form_box form .submit-btn {
    margin: 5px 0;
  }
}

@media screen and (max-width: 500px) {
  .screen_wrapper.register {
    grid-template-columns: repeat(1, 1fr);
    width: 500px;
    height: fit-content;
    margin: 0 2em;
  }

  .col_1 {
    height: 100px;
  }

  form {
    margin: 1em auto;
  }

  .form_box h1 {
    font-size: 30px;
  }

  .form_box .user_box label {
    font-size: 20px;
  }

  .register .col_2 {
    margin: 0px 10px;
  }

  .register form .submit-btn {
    padding: 15px 100px;
  }
} */
* {
  margin: 0;
  padding: 0;
}

.hello {
  background-color: #cb5c00;
  padding: 40px;
  width: auto;
}

.gap {
  display: flex;
  background-color: white;
}

.lash {
  background-image: url(./src/assets/visualsofdana.jpg);
  background-size: cover;
  margin: 20px;
  border-radius: 10px;
  flex: 1;
}

.chip {
  flex: 1;
  padding: 50px;
  /* min-width: fit-content; */
}

.spider {
  display: grid;
  align-content: end;
  height: 80vh;
  text-align: left;
  color: white;
  font-size: xx-large;
  font-variant: small-caps;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.elf {
  display: flex;
  gap: 20px;
  justify-content: center;
  padding-bottom: 20px;
}

.hy {
  background-color: #9d7e54;
  border: none;
  width: 20%;
  height: 4vh;
  /* color: white; */
}

.fish {
  width: 20%;
  height: 4vh;
  background-color: #9d7e54;
  border: none;
}

.fat {
  text-align: center;
}

/* input tag */
.one {
  height: 5vh;
  width: 51%;
  margin-top: 5px;
}

.two {
  height: 4vh;
  width: 25%;
  padding-top: 5px;
}

.digit {
  display: flex;
  gap: 15px;
  justify-content: center;
  padding-left: 20px;
}
/* stop */

.pie {
  display: flex;
  justify-content: center;
}

@media (max-width: 420px) {
  .left {
    width: 70%;
    position: relative;
    top: 100px;
    left: 30px;
  }

  .go h2 {
    position: relative;
    bottom: 20px;
  }

  .nice {
    position: relative;
  }

  .fat input {
    width: 80%;
  }

  .digit {
    padding-top: 5px;
  }

  .lap {
    /* padding-left: 20px;  */
  }

  .juice {
    display: none;
  }

  .go {
    flex-wrap: wrap;
    background-color: rgb(97, 20, 20);
    margin: 5px;
    border-radius: 5px;
  }

  .pink {
  }

  .lash {
    margin: 10px;
    background-position: center;
  }

  .chip {
  }

  .pot {
    width: 80%;
    padding-left: 30px;
    padding-bottom: 30px;
  }

  .hy {
    width: 30%;
  }

  .fish {
    width: 30%;
  }

  .gap {
    flex-wrap: wrap;
  }

  .hog button {
  }
}

.dust {
  display: flex;
  gap: 10px;
}
.frog {
  width: 11rem;
}

.loop {
  /* height: 40vh;
  width: 100% ; */
}
.git {
  height: 50vh;

  /* display: flex;
    flex-direction: row;
    justify-items: center; */
}

.knot {
  width: 100%;
  height: 70vh;
}
