/* .remember {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 18px;
  color: #fff;
}

.sign-up {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin-top: 1em;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 18px;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.socials .icons {
  border: none;
  height: 40px;
  width: 40px;
  display: inline-flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  margin-top: 12px;
  font-size: 25px;
  color: #000;
  transition: 1s;
  cursor: pointer;
  background-color: #fff;
  border-radius: 25%;
}

.socials i:hover {
  transform: translateY(-5px);
}

@media screen and (max-width: 1000px) {
  .screen_wrapper.login {
    grid-template-columns: repeat(1, 1fr);
    width: 500px;
    height: 900px;
  }

  .col_1 {
    height: 250px;
  }

  form {
    margin: 3em auto;
  }
}

@media screen and (max-width: 500px) {
  .screen_wrapper.login {
    grid-template-columns: repeat(1, 1fr);
    width: 500px;
    height: fit-content;
    margin: 0 2em;
  }

  .col_1 {
    height: 100px;
  }

  form {
    margin: 1em auto;
  }

  .form_box h1 {
    font-size: 30px;
  }

  .form_box .user_box label {
    font-size: 20px;
  }
} */
.pic{
background-image:
url(./src/assets/bilderboken.jpg);
background-size: cover;
background-repeat: no-repeat;
height: 100vh;
width: auto;
border-radius: 10px;
overflow: hidden;


}


.name{
    background-color: rgb(20, 2, 2);
    padding: 20px;
    overflow: hidden;
    

}

.left{
    background-color: white;
    float: right;
    padding: 30px;
    padding-bottom: 50px;
    margin: 20px;
    margin-right: 40px;
    border-radius: 5px;
    overflow: hidden;
    opacity: 0.9;

}

.lap{
  

   

}




@media( max-width:420px){
.left{
    width:70%;
    position:relative;
    top: 100px;
    left: 30px; 

}

.go h2{
position: relative;
bottom: 20px;
}

 .nice{
position: relative;
}

.fat input{
width: 80%;

}

.digit{
    padding-top: 5px;
}

.lap{
 
    /* padding-left: 20px;  */
   
}

.juice{
display: none;
}

   .go{
    flex-wrap: wrap;
background-color: rgb(97, 20, 20);
margin: 5px;
border-radius: 5px;

 }

 .pink{
 
 }

  .lash{
    margin: 10px;
    background-position: center;
    

    }

    .chip{
        
    }

.pot{
        
     width: 80%; 
     padding-left: 30px;  
    padding-bottom: 30px;
    }

    .hy{
    width:30%;

    }

    .fish{
    width:30%;
    
    }


.gap{
    flex-wrap: wrap;
}

.hog button{

}
}



.dust{
    display: flex;
    gap: 10px;

}
.frog{
    width: 11rem;

}

.loop{
     /* height: 40vh;
  width: 100% ; */
  
}
.git{
height: 50vh;

    /* display: flex;
    flex-direction: row;
    justify-items: center; */
}

.knot{
width: 100%;
height: 70vh;
}