.view .screen_wrapper {
  width: 700px;
  height: 400px;
  backdrop-filter: blur(10px);
  text-align: center;
  grid-template-columns: repeat(1, 1fr);
  box-shadow: 2px 2px 2px #ffffff94, inset 3px 3px 10px #ffffff39;
}
