/* Google Font: Poppins*/
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "poppins", sans-serif;

  list-style: none;

  text-decoration: none;
  box-sizing: border-box;
}

.app_container {
  max-width: 1920px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

.btn-lg {
  height: 40px;
  width: 135px;
  border: none;
  background-color: #cb5c00;
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: 500;
  /* border-radius: 5px;
  box-shadow: 2px 2px 2px #ffffff94, inset 3px 3px 10px #ffffff39; */
  transition: 1s;
}

.btn-lg:hover {
  border: 1px solid #fff;
  background-color: transparent;
  transform: scale(0.95);
}

.btn-sm {
  height: 35px;
  width: 100px;
  border: none;
  background-color: #cb5c00;
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: 500;
  transition: 1s;
}

.btn-sm:hover {
  border: 1px solid #fff;
  background-color: transparent;
  transform: scale(0.95);
}

a {
  color: #fff;
}

.section {
  padding: 90px 15%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.section_Title {
  font-size: 25px;
  font-family: "Momo Trust Display", "poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #1e1e1e;
}

.section_Title span,
.sub-heading {
  color: #9d7e54;
  font-family: "Momo Trust Display", "poppins", sans-serif;
}

.section_Heading {
  font-size: 20px;
  font-weight: 600;
  color: #1e1e1e;
}

.screen_con {
  min-height: 100vh;
  background: url(./assets/Amens1.jpg) no-repeat center;
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(40px);
}

.screen_con::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.screen_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 1000px;
  height: 700px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(40px);
  border: 1px solid rgba(183, 183, 183, 0.2);
  border-radius: 2em;
  overflow: hidden;
  margin: 0 5em;
}

.screen_con .col_1 {
  background: url(./assets/Amens1.jpg) no-repeat center;
  background-size: cover;
}

.screen_con .col_1 img {
  width: 700px;
}

.screen_con .col_2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  margin-top: 2.3rem;
}

.col_2 .form_box h1 {
  font-size: 36px;
  text-align: center;
  align-self: center;
  align-content: center;
  margin-top: 1em;
}

.form_box .user_box {
  position: relative;
}

.form_box .user_box input {
  width: 100%;
  padding: 10px 5px;
  font-size: 22px;
  color: #fff;
  margin-bottom: 50px;
  border: none;
  border-bottom: 2px solid #fff;
  outline: none;
  background-color: transparent;
}

.form_box .user_box label {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 600;
  font-size: 24px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s ease-in-out;
}

.form_box .user_box input:focus ~ label,
.form_box .user_box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #fff;
  font-size: 12px;
}

.form_box form .submit-btn {
  margin: 0 auto;
  position: relative;
  display: inline-block;
  padding: 15px 120px;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  background-color: #fff;
  border-radius: 25px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  margin-top: 30px;
  letter-spacing: 1px;
  border: 3px solid #fff;
}

.form_box .submit-btn:hover {
  background-color: #cb5c00;
  color: #fff;
  border-color: #cb5c00;
}

.switch {
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-size: 18px;
  color: #fff;
  margin-top: 1em;
}

.form_box .switch a {
  text-decoration: underline #cb5c00;
}

.form_box .switch a:hover {
  color: #cb5c00;
  text-decoration: underline #fff;
}
