/* Google Font: Poppins*/
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Poppins:wght@400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "poppins", sans-serif;

  list-style: none;

  text-decoration: none;
}

.app_container {
  max-width: 1920px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

.btn-lg {
  height: 40px;
  width: 130px;
  border: none;
  background-color: #cb5c00;
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: 500;
  /* border-radius: 5px;
  box-shadow: 2px 2px 2px #ffffff94, inset 3px 3px 10px #ffffff39; */
  transition: 1s;
}

.btn-lg:hover {
  border: 1px solid #fff;
  background-color: transparent;
  transform: scale(0.95);
}

.btn-sm {
  height: 35px;
  width: 100px;
  border: none;
  background-color: #cb5c00;
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.5px;
  font-weight: 500;
  transition: 1s;
}

.btn-sm:hover {
  border: 1px solid #fff;
  background-color: transparent;
  transform: scale(0.95);
}

.section {
  padding: 90px 15%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.section_Title {
  font-size: 25px;
  font-family: "Momo Trust Display", "poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #1e1e1e;
}

.section_Title span {
  color: #9d7e54;
  font-family: "Momo Trust Display", "poppins", sans-serif;
}

.section_Heading {
  font-size: 20px;
  font-weight: 600;
  color: #1e1e1e;
}
