.nav_wrapper {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 0 1%;
  position: fixed;
  top: 0;
  z-index: 99;
}

.nav_wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(0deg, transparent, #000);
  z-index: -1;
}

.nav_wrapper.scrolled {
  background-color: #1e1e1e;
}

.nav_wrapper .logo a {
  font-size: 25px;
  font-weight: 700;
  color: #fff;
}

.nav_wrapper .logo a span {
  color: #cb5c00;
}

.nav_wrapper ul li {
  display: inline-block;
  margin: 0 20px;
  position: relative;
}

.nav_wrapper ul li::after {
  position: absolute;
  content: "";
  top: 10px;
  left: -10px;
  transform: translateX(-50%);
  background-color: #fff;
  height: 5px;
  width: 5px;
  border-radius: 50%;
  transition: 0.2s;
}

.nav_wrapper ul li:hover::after {
  background-color: #df8033;
}

.nav_wrapper ul li a {
  color: #fff;
  font-weight: 500;
  font-size: 15px;
}

.nav_btns {
  display: flex;
  gap: 10px;
  align-items: center;
}

.nav_btns:last-child {
  margin-right: 20px;
}

#menu_bar {
  border: none;
  background-color: #cb5c00;
  height: 40px;
  width: 40px;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: #fff;
  transition: 1s;
  cursor: pointer;
}

#menu_bar:hover {
  transform: scale(0.95);
  border: 1px solid #fff;
  background-color: transparent;
}

@media screen and (max-width: 1200px) {
  #menu_bar {
    display: flex;
  }

  .nav_wrapper ul {
    position: absolute;
    top: 100%;
    right: -100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 1);
    backdrop-filter: blur(8px);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid #fff;
    transition: right 0.6s ease-in-out;
  }

  .nav_wrapper ul li::after {
    left: 10%;
    top: 35px;
  }

  .nav_wrapper .showNav {
    right: 0;
  }

  .nav_wrapper ul li {
    display: block;
    margin: 5px 0;
    padding: 25px 0;
    padding-left: 15%;
    border-bottom: 1px solid rgba(131, 131, 131, 0.4);
  }

  .nav_wrapper ul li:last-child {
    border: none;
  }
}

@media screen and (max-width: 500px) {
  .nav_wrapper {
    gap: 5px;
  }

  .btn-lg {
    height: 30px;
    width: 80px;
  }

  #menu_bar {
    height: 30px;
  }

  .nav_btns {
    gap: 5px;
  }
}
